h1 {
  color: blue;
}
a, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: tomato;
}
.btn {
  padding: 2px;
  transition: all .5s ease-in-out;
  text-decoration: underline;
}

#navbar {
  display: flex;
  flex-direction: row;
}