{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Tech Ticket</h1>
    <nav id="navbar">
        <ul style="list-style-type:none;">
            <li><a href="google.com">Home</a></li>
            <li><a href="google.com">About</a></li>
            <li><a href="google.com">Contact</a></li>
            <li><a href="google.com">Submit a Ticket</a></li>
        </ul>
    </nav>
    <hr/>
    <p>Welcome to Tech Ticket</p>
</body>
</html>
