{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Collector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>All of the Cats</h1>
    <hr/>
    <!-- Add link to create a new cat -->
    <a href="/cats/create">Add a New Cat!</a>
    <hr />
    {% for cat in cats %}
      <a href="/cats/{{cat.id}}">
        <p>Name: {{ cat.name }}</p>
        {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %}
      </a>
        <hr/>
    {% endfor %}
</body>
</html>
